
<table class="table">
  <thead>
    <th>ID</th>
    <th>Image</th>
    <th>Owner</th>
    <th>Detail</th>
  </thead>

{{#each presents}}

  <tr valign="top">
    <td>{{id}}</td>
    <td><img src="{{img}}" /></td>
    <td><img src="{{ownerurl}}" title="{{owner}}" /></td>
    <td>{{detail}}</td>
  </tr>

{{/each}}

</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>

function ReloadPage() {
  location.reload();
};
    
$(document).ready(function() {
  setTimeout("ReloadPage()", 30000);
});

</script>

<!--
{{{debug}}}
-->
