
<div class="row">
  <div class="col-md-12">
    <div align="center">
      <br />
      <img src="https://s3-us-west-2.amazonaws.com/upload-bfe27a61/zl/zerolag-logo.png" /><br />
    </div>
  </div><!--/col-sm-12-->
</div><!--/row-->

<div class="row">
  <div class="col-sm-12">

    <h1>About The ZL Remote Party 2013</h1>

<pre>This Holiday season, operations did think
About midnight maintenances and lights that go blink.
How can we break from the pile of tickets
And the Magento sites, all selling their widgets?

"Let's have a party," the bosses command!
Fire up Steam.  Let Pandora find us a band!
We'll trade our gifts, in a silly exchange.
And score some head shots, from a far-away range.</pre>

<p>Everyone is invited to a remote Chrismanukkahwanzaadan party on Friday,
December 27, 2013 at 3pm PT until 6pm.</p>

<p>Though most of the remote workers are in operations, this isn't an
operations-only party.  Everyone is welcome, even if you already attended the
in-person party.  +1's are welcome, even to participate in the gift exchange.
It'll double your chance of getting something awesome!</p>

<p>We will meet on Skype or on a conference bridge at 3pm (a meeting invite
with a bridge will be sent to everyone who RSVPs).  The white elephant gift
exchange (http://goo.gl/367VDs) will start shortly after 3pm.  The rules are:
two steals, first person gets a free turn at the end, no steal-backs within one
turn, and $10-30 gifts.  There'll be a web interface for everyone to watch to
keep up with the exchange.  After the exchange, you must mail your gift to the
appropriate person (email or physical mail, depending on the gift).</p>

<p>After the gift exchange, we have until 6pm to play games.  I recommend that
everyone register a Steam (http://goo.gl/0SYzfh) account and download your
favorite games (or some free multiplayer games) *before* the party.  I'll start
up a Holiday party Skype channel where we can talk about game selection.</p>

<p>Once the games start and people start to go full-screen, Tom and I will take
over point for a few hours, so that everyone can relax and have fun murdering
each other over the internet.  If you are off shift at 6pm you don't have to
stop playing.</p>

<p>Important dates:</p>

<ul>
  <li>December 24 at 6pm - RSVP deadline</li>
  <li>December 26 at 6pm - Gift submission deadline</li>
  <li>December 27 at 3pm - Party starts</li>
  <li>December 30 at 11:59pm - Deadline to ship gifts to winners</li>
</ul>

<p>RSVP to cameron@zerolag.com.  If a +1 will be joining you, I need to know
the email/mailing address to use.  Make sure your own information is accurate
in control.</p>

<p>For gift submissions, I need a two 256x256px images representing the
"wrapped" and "unwrapped" state of the gift, a sentence describing what it is,
and a URL to a product page on some common shopping site (Amazon preferred).
"Wrapped" images can be either hints or misleading... have fun with it.
"Unwrapped" images should be clearly visible.</p>

  </div><!--/col-md-12-->
</div><!--/row-->

