
<h1>Rules</h1>

<ol>
  <li>You must indicate whether or not you wish to participate by Tuesday, December 24, 2013 at 6pm PT.</li>
  <li>You must submit the following items to <a href="mailto:cameron@zerolag.com">Cameron</a> by Thursday, December 27, 2013 at 6pm PT.</li>
  <ul>
    <li>A photo of what you will be giving in the gift exchange.</li>
    <li>A photo of how it is "wrapped".  Gift wrapping can be bigger on the inside.  ;-)</li>
    <li>Gift wrapping images can either hint at the contents or mislead...</li>
    <li>Put thought into your gift and the images you select!</li>
    <li>All images will be scaled to 256x265px square</li>
  </ul>
  <li>Gifts should be in the range of $10-30.</li>
  <li>The party begins on Friday, December 27, 2013 at 4pm PT and can be attended by any ZeroLag employee or +1.  Voice (by conference bridge or Skype) is required; video is reccomended.</li>
  <ul>
    <li>+1's can participate in the gift exchange!</li>
  </ul>
  <li>Gifts must be shipped to the winner's email address or physical address listed in control by Friday, December 27, 2013 at 11:23pm PT.</li>
  <ul>
    <li>+1's should provide email and shipping addresses when they RSVP</li>
  </ul>
  <li>Players will take turns in random order, with each player having one turn.</li>
  <li>During a player's turn he may choose an unopened gift or steal a gift from another player.</li>
  <li>If a player has a package stolen from them, they get a free turn.</li>
  <li>A gift can be stolen twice, so that the third person who owns it is the final owner.</li>
  <li>The first person who plays gets a free turn at the end of the game.</li>
</ol>

